Saved Books
<br>
<br>
{{#each books}}
  {{title}}
  <br>
  {{authors}}
  <br>
  {{description}}
  <br>
  <br>
  {{image}}
  <br>
<button><a href="/library/delete?book_id={{_id}}">DELETE</a></button>
  <br>
  <br>
  <br>
  <br>
  <br>
{{/each}}