<h1>Saved Books</h1>
<br>
<br>
<div class = "library-box">
{{#each books}}
  {{title}}
  <br>
  {{author}}
  <br>
  {{description}}
  <br>
  <br>
 <img src="{{image}}" />
  <br>
<button><a href="/library/delete?book_id={{_id}}">DELETE</a></button>
  <br>
  <br>
  <br>
  <br>
  <br>
{{/each}}
</div>