<h1>My Friends</h1>


<div class = "friends-border">
  {{#each friend.friendsList}}
    <h4>{{username}}</h4>
    <h4>{{email}}</h4>
    {{!--<h3>{{faveBooks}}</h3> --}}
    {{!-- <button><a href="/my-friends/delete?friend_id={{_id}}">
 Unfriend
 </a></button> --}}
 <div class = "friend-form">
  <form action="/delete-friend/{{_id}}" method="POST">
   <button>Unfriend</button> 
  </form>
  </div>
  {{/each}}
</div>
