<h1>My Friends</h1>


<div class = "friends-border">
  {{#each friend.friendsList}}
    <h3>{{username}}</h3>
    <h3>{{email}}</h3>
    {{!--<h3>{{faveBooks}}</h3> --}}
    {{!-- <button><a href="/my-friends/delete?friend_id={{_id}}">
 Unfriend
 </a></button> --}}
  <form action="/delete-friend/{{_id}}" method="POST">
   <button>Unfriend</button> 
  </form>
  {{/each}}
</div>
